/.project
/.classpath
/.settings
/bin
/target
/temp
/test-output
/catalina.home_IS_UNDEFINED
/target
.tomcatplugin
*.jar
/.springBeans
*/.classpath
*/.project
*/.settings
*/temp
*/test-output
*/catalina.home_IS_UNDEFINED
*/target
*/bin
/.idea/
*.iml